<h1>Sign in</h1>

<form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password" ><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="login" class="btn"><%# the value something that would be visible on the button as well as the address basically  %>


</form>

<!-- 
<h1>Register</h1>

<form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password" type="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="Register" class="btn"><%# here value is important because when the user interact and press this button it will give a response and for that respone this would be sued as na address for the request %>   

</form> -->