<div class="author">
    <h1 class="author__heading">Hi, i am Naman</h1>
    <p class="author__body"> web developer and observer</p>
</div>

<img src="/img/trevin-rudy-USJatxcZ3BA-unsplash.jpg" alt="person is looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class = "articles__heading">Latest Posts</h2>

    <ul class ="article-ul">
        <li>
            <a href = "#">
                <span> Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
            <a href = "#">
                <span> Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Older Posts </a>
</section>