<%# this is the post view that show all the post when we click on them  %>
<%# these below thing all thing that are going to show when we click on any of the blog page  %>
<h1><%= data.title %></h1>
<article class="article">
    <%= data.body %>
</article>